/src/bin/
/src/obj/
config.ini
Trinet.Core.IO.Ntfs.xml
Trinet.Core.IO.Ntfs.dll
System.Runtime.CompilerServices.Unsafe.xml
System.Runtime.CompilerServices.Unsafe.dll
System.Numerics.Vectors.xml
System.Numerics.Vectors.dll
System.Buffers.xml
System.Buffers.dll
SharpDX.xml
SharpDX.dll
SharpDX.Mathematics.xml
SharpDX.Mathematics.dll
SharpDX.Direct3D9.xml
SharpDX.Direct3D9.dll
SharpDX.Desktop.xml
SharpDX.Desktop.dll
PoeHUD.pdb
PoeHUD.exe.config
PoeHUD.exe
PoeFilterParser.dll
Newtonsoft.Json.xml
Newtonsoft.Json.dll
ImGui.NET.xml
ImGui.NET.dll
Gma.System.MouseKeyHook.dll
BasicFlaskRoutine.dll.config
Antlr4.Runtime.xml
Antlr4.Runtime.dll
BasicFlaskRoutine.pdb
